{% load static %}
<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ชำระเงิน</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% include 'nav.html' %}
    <div class='container-sm border my-3'>
        <div class="col-md-12">
            <h1>ชำระเงิน</h1>
            {% if cart_items %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>ชื่อสินค้า</th>
                            <th>จำนวน</th>
                            <th>ราคา</th>
                            <th>รวม</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <td>{{ item.product.title }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.product.price|floatformat:2 }}</td>
                                <td>{{ item.subtotal|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3 class='text-end'>รวมทั้งหมด: ฿{{ total|floatformat:2 }}</h3>
                <form action="{% url 'checkout' %}" method="post" class="text-end mt-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success ">ยืนยันการชำระเงิน</button>
                </form>
            {% else %}
                <p>ตะกร้าของคุณว่างเปล่า</p>
            {% endif %}
            <div class='text-end mt-3 mb-3'>
                <a href="{% url 'cart' %}" class="btn btn-primary">กลับไปยังหน้าสินค้า</a>
            </div>
        </div>
    </div>
</body>

</html>
